{% extends 'CRED/main.html'%}
{% load static %}   
{% block content %}

<div class="section-wrraper">
    <h1 style="margin-left: 64px;background: #ffc108f2;
    color: white;
    width: fit-content;
    padding: 17px;
    border-radius: 11px;
    font-size: 26px;">So, You Are Feeling {{em_result}} !!!</h1>
    <h1 style="margin-left: 64px;text-align: center;
    margin-top: 50px;
    font-weight: 700;">Select the Category</h1>
    <div class="wrapper">
        <div class="box">
            <div class="inside-box">
                <img src="{% static 'icons/multimedia.png' %}" alt="">
                <br>
                <button><a style="color: white;text-decoration: none;" href="/contentvideo/{{em_result}}">Select</a></button>
            </div>
            <h6>Video</h6>
        </div>
        <div class="box">
          <div class="inside-box">
                <img src="{% static 'icons/music-note.png' %}" alt="">
                <br>
                <button><a style="color: white;text-decoration: none;" href="/contentaudios/{{em_result}}">Select</a></button>
          </div>
          <h6>Audio</h6>
      </div>
      <div class="box">
          <div class="inside-box">
              <img src="{% static 'icons/book.png' %}" alt="">
              <br>
              <button><a style="color: white;text-decoration: none;" href="/contentbooks/{{em_result}}">Select</a></button>
          </div>
          <h6>Book</h6>
      </div>
      <div class="box">
          <div class="inside-box">
              <img src="{% static 'icons/quotation.png' %}" alt="">
              <br>
              <button><a style="color: white;text-decoration: none;" href="/contentquotes/{{em_result}}">Select</a></button>
          </div>
          <h6>Quotes</h6>
      </div>
    </div>
</div>
{% endblock %}