{% extends 'CRED/main.html'%}
{% load static %}   
{% block content %}

<div class="section-wrraper">
    <div class="hero-section">
        <img src="{% static 'images/development-4536630.svg' %}" alt=""> <!--// jb is main image dalo gye to display none sy display block kr daina img ki class change kr ky /// !-->
        <div style=" padding: 11rem;border: 0.3rem solid var(--Primary-color);"  class="capture">
            <form action="/click/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <input  style="background: var(--Primary-color);
                color: var(--White);
                padding: 0.5rem 1.5rem;
                border: none;
                border-radius: 1.2rem;
                font-size: 1rem;
                font-weight: 500;
                cursor: pointer;
                margin: 0.5rem 0rem;" type="submit" value="submit">
            </form>
            {% if result is not None %}
                you are feeling {{ result }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}