{% extends 'CRED/main.html'%}
{% load static %}   
{% block content %}

<div class="section-wrraper">
    <div class="hero-section">
        <div class="text">
            <div class="text-material">
                <h1>Content Recommendation</h1>
            <h2>Based on Emotion Detection</h2>
            </div>
            <button  style="border-radius: 1.2rem;" class="Get-started"><a style="color: white;text-decoration: none;" href="{% url 'click' %}">Get Started</a></button>
        </div>
        <img src="{% static 'images/development-4536630.svg' %}" alt="Mainimage">
        
    </div>
</div>

{% endblock %}