{% extends 'CRED/main.html'%}
{% load static %}    
{% block content %}
<div class="section-wrraper">
    <div class="section-wrap">
        <h4>Videos</h4>
        <div class="main-carousel">
                {% for video in videos %}
                <div style="padding: 0px;background: #ddebfb;box-shadow: rgb(60 76 63 / 8%) 3px 2px 21px 11px, rgb(60 64 76 / 20%) 0px 2px 14px 5px;
                border-radius: 20px;border: 0px;" class="carousel">
                    <img style="width: 290px;
                    /* object-fit: contain; */
                    height: 200px;border-top-left-radius: 20px;
            border-top-right-radius: 20px;"  src="{{video.video.image.url}}" alt="">
                    <br>
                    <h4 style="font-size: 20px;
                    font-weight: 600;
                    padding-top: 10px;
    padding-left: 10px;
                  ">{{video.video.name}}</h4>
                     <button style="border-radius: 1.2rem;
                     font-size: 1rem;
                     font-weight: 500;
                     cursor: pointer;
                     margin: 0.5rem 0rem;padding: 0.3rem 1rem;
    background-color: var(--Primary-color);  margin-left: 10px;  margin-bottom: 13px;"><a style="color: white;text-decoration:none" href="{{video.video.url_link}}" target="_blank">Approach</a></button>
                </div>
                {% endfor %}
            
    </div>
    </div>
    <div class="section-wrraper">
        <div class="section-wrap">
            <h4>Audio</h4>
            <div class="main-carousel">
                {% for audio in audios %}
                
                <div style="padding: 0px;background: #ddebfb;box-shadow: rgb(60 76 63 / 8%) 3px 2px 21px 11px, rgb(60 64 76 / 20%) 0px 2px 14px 5px;
                border-radius: 20px;border: 0px;" class="carousel">
                    <img style="width: 290px;
                    /* object-fit: contain; */
                    height: 200px;border-top-left-radius: 20px;
            border-top-right-radius: 20px;"  src="{{audio.audio.image.url}}" alt="">
                    <br>
                    <h4 style="font-size: 20px;
                    font-weight: 600;
                    padding-top: 10px;
                    padding-left: 10px;">
                    {{audio.audio.name}}</h4>
                     <button style="border-radius: 1.2rem;
                     font-size: 1rem;
                     font-weight: 500;
                     cursor: pointer;
                     margin: 0.5rem 0rem;padding: 0.3rem 1rem;
    background-color: var(--Primary-color);  margin-left: 10px;  margin-bottom: 13px;"><a style="color: white;text-decoration:none" href="{{audio.audio.url_link}}" target="_blank">Approach</a></button>
                </div>
                 
                {% endfor %}    
    
                </div>
        </div>
      </div>
      <div class="section-wrraper">
        <div class="section-wrap">
            <h4>Book</h4>
            <div class="main-carousel">
                {% for book in books %}
                <div style="padding: 0px;background: #ddebfb;box-shadow: rgb(60 76 63 / 8%) 3px 2px 21px 11px, rgb(60 64 76 / 20%) 0px 2px 14px 5px;
                border-radius: 20px;border: 0px;" class="carousel">
                    <img style="width: 290px;
                    /* object-fit: contain; */
                    height: 200px;border-top-left-radius: 20px;
            border-top-right-radius: 20px;"  src="{{book.book.image.url}}" alt="">
                    <br>
                    <h4 style="font-size: 20px;
                    font-weight: 600;
                    padding-top: 10px;
    padding-left: 10px;
                  ">{{book.book.name}}</h4>
                     <button style="border-radius: 1.2rem;
                     font-size: 1rem;
                     font-weight: 500;
                     cursor: pointer;
                     margin: 0.5rem 0rem;padding: 0.3rem 1rem;
    background-color: var(--Primary-color);  margin-left: 10px;  margin-bottom: 13px;"><a style="color: white;text-decoration:none" href="{{book.book.url_link}}" target="_blank">Approach</a></button>
                </div>
                {% endfor %}   
                </div>
        </div>
      </div>

      <div class="section-wrraper">
        <div class="section-wrap">
            <h4>Qoutes</h4>
            <div class="main-carousel">
                {% for qoute in qoutes %}
                <div style="padding: 0px;background: #ddebfb;box-shadow: rgb(60 76 63 / 8%) 3px 2px 21px 11px, rgb(60 64 76 / 20%) 0px 2px 14px 5px;
                border-radius: 20px;border: 0px;" class="carousel">
                    <img style="width: 290px;
                    /* object-fit: contain; */
                    height: 200px;border-top-left-radius: 20px;
            border-top-right-radius: 20px;"  src="{{qoute.qoute.image.url}}" alt="">
                    <br>
                    <h4 style="font-size: 20px;
                    font-weight: 600;
                    padding-top: 10px;
                    padding-left: 10px;
                  ">{{qoute.qoute.name}}</h4>
                     <button style="border-radius: 1.2rem;
                     font-size: 1rem;
                     font-weight: 500;
                     cursor: pointer;
                     margin: 0.5rem 0rem;padding: 0.3rem 1rem;
                      background-color: var(--Primary-color);  margin-left: 10px;  margin-bottom: 13px;"><a style="color: white;text-decoration:none" href="{{qoute.qoute.url_link}}" target="_blank">Approach</a></button>
                </div>
                {% endfor %}   
                </div>
        </div>
      </div>

      <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
      <script>
          const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'vertical',
      loop: true,
    
      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },
    
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    
      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });
      </script>
      
{% endblock %}